# Ignore all this directories in any subfolder
build/
devel/
logs/
bin/

# Ignore this hidden files in any subfolder
.project
.gradle
.settings
.classpath

# Ignore sitlN directories inside sitl_sim
src/sitl_sim/sitl[0-9]*

# Ignore log files
src/prj_pkg/launch/*.pid
